@tailwind base;
@tailwind components;
@tailwind utilities;

/* include media */
@import './include-media';

/* variables */
@import './variables';

/* fonts */
@font-face {
  font-family: 'poor_richardregular';
  src: url('poorich-webfont.woff2') format('woff2'),
    url('poorich-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://use.typekit.net/wvi7dru.css');

*,
* ::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}

html,
body {
  font-family: 'Muli', 'Quicksand', 'poor-richard-regular', sans-serif;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.layout {
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;

  @include media('>=tablet') {
    height: 100px;
  }

  &__container {
    @include container;
    margin: 0 !important;
  }

  &__brand {
    font-family: 'poor_richardregular', sans-serif;
    color: #116984 !important;
    font-size: 24px;
    letter-spacing: 1px;

    @include media('>=tablet') {
      font-size: 32px;
    }
  }

  &__toggle {
    border: none !important;
    color: #116984 !important;
    box-shadow: none !important;
    outline: none;
  }

  &__toggle-icon {
    width: 100% !important;
    height: 28px !important;
  }

  &__collapse {
    background-color: $white-color;
  }

  &__item {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: $primary-color !important;
    border-radius: 23px;
  }

  &__booking {
    margin-top: 56px;
    width: 70%;
    color: $heading-color !important;
    border: 2px solid $heading-color;
    padding: 8px 28px !important;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('>=tablet') {
      margin-top: 0;
      width: auto;
    }
  }

  &-nav {
    display: flex;
    align-items: flex-start;
    height: 100vh;
    padding-top: 24px;
    @include media('>=tablet') {
      padding-top: 0;
      align-items: center;
      height: auto;
      width: auto;
    }
  }

  &__language {
    margin-top: 24px;

    @include media('>=tablet') {
      margin-top: 0;
      display: flex;
      align-items: center;
    }
  }
}

.dropdown-menu {
  border: none !important;

  @include media('>=tablet') {
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 27px 8px;
  }
}

.dropdown-toggle {
  &::after {
    color: $primary-color !important;
  }
}

.home {
  padding-top: 64px;

  @include media('>=tablet') {
    padding-top: 100px;
  }
}

.hero {
  &__container {
    @include container;
    background-color: $subtle-color;
    padding-top: 36px;
    padding-bottom: 36px;
    display: grid;
    position: relative;

    @include media('>=tablet') {
      padding-top: 72px;
      padding-bottom: 72px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image-area {
    margin-bottom: 40px;

    @include media('>=tablet') {
      margin-bottom: 0;
    }
  }

  &__text-area {
    grid-row: 2;
    margin-bottom: 46px;

    @include media('>=tablet') {
      margin-bottom: 0;
      grid-row: unset;
      padding-top: 82px;
    }
  }

  &__text-area-title {
    @include heading-h1;
    margin-bottom: 15px;
  }

  &__text-area-sub-title {
    @include body-text;
    max-width: 742px;
    margin-bottom: 28px;
  }

  &__text-area-btn {
    padding: 8px 28px;
    background-color: $accent-color;
    color: $heading-color;
    border-radius: 23px;
  }

  &__audio {
    position: absolute;
    height: 40px;
    width: 118px;
  }
}

.statements-area {
  border-top: 1px solid $secondary-color;
  padding-top: 36px;
  display: flex;
  gap: 28px;

  @include media('>=tablet') {
    padding-top: 44px;
    gap: 102px;
  }

  &__list-title {
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color: $primary-color;
    font-size: 36px;

    @include media('>=tablet') {
      font-size: 45px;
    }
  }

  &____list-description {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: $heading-color;

    @include media('>=tablet') {
      font-size: 20px;
    }
  }
}

.what-is {
  &__container {
    @include container;
    padding-top: 36px;
    padding-bottom: 36px;
    display: grid;
    position: relative;

    @include media('>=tablet') {
      padding-top: 72px;
      padding-bottom: 72px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__text-area {
    @include container;

    @include media('>=tablet') {
      grid-row: 1;
      grid-column: 2;
      padding: 0;
    }
  }

  &__audio {
    position: relative;
    height: 40px;
    width: 118px;
    margin-bottom: 28px;
  }

  &__audio-top {
    position: absolute;
    height: 40px;
    width: 118px;

    @include media('>=tablet') {
      grid-row: 1;
      grid-column: 2;
      top: 0;
      right: 0;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    @include heading-h1;
    line-height: 40px;
  }

  &__title-special {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    color: $secondary-color;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;

    @include media('>=tablet') {
      font-size: 21px;
    }
  }

  &__description {
    @include media('>=tablet') {
      max-width: 60%;
    }
  }

  &__text-area-sub-title {
    @include body-text;
    max-width: 742px;
    margin-bottom: 28px;
  }

  &__image-area {
    @include container;
    grid-row: 1;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 20%;
      left: -40%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $heading-color;
      border-radius: 0 30px 30px 0;
    }
  }

  &__symptoms-area {
    background-color: $subtle-color;
    padding: 32px 8px;
    border-radius: 30px 0 0 30px;

    &__list-title-1 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffccf1;
      }
    }

    &__list-title-2 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffeccc;
      }
    }

    &__list-title-3 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ccfffd;
      }
    }

    &__list-title-4 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ceffcc;
      }
    }

    &__list-title-5 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffd5cc;
      }
    }

    &__list-title-6 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ccd3ff;
      }
    }

    &__list-title-7 {
      @include body-text-2;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;

      &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #cce6ff;
      }
    }

    &-btn {
      padding: 8px 28px;
      background-color: $heading-color;
      color: $white-color;
      border-radius: 23px;
    }
  }

  &__symptoms-title {
    @include heading-h3;
    margin-bottom: 21px;
  }

  &__symptoms-area__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 28px;
  }
}

.booking-form {
  background-color: $subtle-blue-color;
  @include container;
  border-radius: 20px;

  &__container {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media('>=tablet') {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }

  label {
    display: flex;
    flex-direction: column;

    input {
      border: 1px solid $secondary-color;
      border-radius: 8px;
      padding: 8px;
    }
  }

  button {
    padding: 11px 28px;
    background-color: $heading-color;
    align-self: center;
    border-radius: 23px;
    color: $white-color;
  }
}
