@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://use.typekit.net/wvi7dru.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* include media */
/* variables */
/* fonts */
@font-face {
  font-family: "poor_richardregular";
  src: url("poorich-webfont.woff2") format("woff2"), url("poorich-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
* ::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}

html,
body {
  font-family: "Muli", "Quicksand", "poor-richard-regular", sans-serif;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.layout {
  margin: 0 auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .navbar {
    height: 100px;
  }
}
.navbar__container {
  max-width: 1440px;
  margin: 0 auto 40px;
  padding: 0 20px 0 19px;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .navbar__container {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .navbar__container {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media (min-width: 1280px) {
  .navbar__container {
    padding-right: 128px;
    padding-left: 128px;
  }
}
@media (min-width: 1440px) {
  .navbar__container {
    padding-right: 160px;
    padding-left: 160px;
  }
}
.navbar__brand {
  font-family: "poor_richardregular", sans-serif;
  color: #116984 !important;
  font-size: 24px;
  letter-spacing: 1px;
}
@media (min-width: 1024px) {
  .navbar__brand {
    font-size: 32px;
  }
}
.navbar__toggle {
  border: none !important;
  color: #116984 !important;
  box-shadow: none !important;
  outline: none;
}
.navbar__toggle-icon {
  width: 100% !important;
  height: 28px !important;
}
.navbar__collapse {
  background-color: #fff;
}
.navbar__item {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #116984 !important;
  border-radius: 23px;
}
.navbar__booking {
  margin-top: 56px;
  width: 70%;
  color: #0a485a !important;
  border: 2px solid #0a485a;
  padding: 8px 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .navbar__booking {
    margin-top: 0;
    width: auto;
  }
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  padding-top: 24px;
}
@media (min-width: 1024px) {
  .navbar-nav {
    padding-top: 0;
    align-items: center;
    height: auto;
    width: auto;
  }
}
.navbar__language {
  margin-top: 24px;
}
@media (min-width: 1024px) {
  .navbar__language {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}

.dropdown-menu {
  border: none !important;
}
@media (min-width: 1024px) {
  .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 27px 8px;
  }
}

.dropdown-toggle::after {
  color: #116984 !important;
}

.home {
  padding-top: 64px;
}
@media (min-width: 1024px) {
  .home {
    padding-top: 100px;
  }
}

.hero__container {
  max-width: 1440px;
  margin: 0 auto 40px;
  padding: 0 20px 0 19px;
  background-color: #f9f7fb;
  padding-top: 36px;
  padding-bottom: 36px;
  display: grid;
  position: relative;
}
@media (min-width: 768px) {
  .hero__container {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .hero__container {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    padding-right: 128px;
    padding-left: 128px;
  }
}
@media (min-width: 1440px) {
  .hero__container {
    padding-right: 160px;
    padding-left: 160px;
  }
}
@media (min-width: 1024px) {
  .hero__container {
    padding-top: 72px;
    padding-bottom: 72px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.hero__image-area {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .hero__image-area {
    margin-bottom: 0;
  }
}
.hero__text-area {
  grid-row: 2;
  margin-bottom: 46px;
}
@media (min-width: 1024px) {
  .hero__text-area {
    margin-bottom: 0;
    grid-row: unset;
    padding-top: 82px;
  }
}
.hero__text-area-title {
  font-family: "Muli", sans-serif;
  color: #0a485a;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .hero__text-area-title {
    font-size: 50px;
    line-height: 63px;
  }
}
.hero__text-area-sub-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  max-width: 742px;
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .hero__text-area-sub-title {
    font-size: 20px;
    line-height: 33px;
  }
}
.hero__text-area-btn {
  padding: 8px 28px;
  background-color: #ffaa00;
  color: #0a485a;
  border-radius: 23px;
}
.hero__audio {
  position: absolute;
  height: 40px;
  width: 118px;
}

.statements-area {
  border-top: 1px solid #8fc7d1;
  padding-top: 36px;
  display: flex;
  gap: 28px;
}
@media (min-width: 1024px) {
  .statements-area {
    padding-top: 44px;
    gap: 102px;
  }
}
.statements-area__list-title {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #116984;
  font-size: 36px;
}
@media (min-width: 1024px) {
  .statements-area__list-title {
    font-size: 45px;
  }
}
.statements-area____list-description {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #0a485a;
}
@media (min-width: 1024px) {
  .statements-area____list-description {
    font-size: 20px;
  }
}

.what-is__container {
  max-width: 1440px;
  margin: 0 auto 40px;
  padding: 0 20px 0 19px;
  padding-top: 36px;
  padding-bottom: 36px;
  display: grid;
  position: relative;
}
@media (min-width: 768px) {
  .what-is__container {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .what-is__container {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media (min-width: 1280px) {
  .what-is__container {
    padding-right: 128px;
    padding-left: 128px;
  }
}
@media (min-width: 1440px) {
  .what-is__container {
    padding-right: 160px;
    padding-left: 160px;
  }
}
@media (min-width: 1024px) {
  .what-is__container {
    padding-top: 72px;
    padding-bottom: 72px;
    grid-template-columns: repeat(2, 1fr);
  }
}
.what-is__text-area {
  max-width: 1440px;
  margin: 0 auto 40px;
  padding: 0 20px 0 19px;
}
@media (min-width: 768px) {
  .what-is__text-area {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .what-is__text-area {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media (min-width: 1280px) {
  .what-is__text-area {
    padding-right: 128px;
    padding-left: 128px;
  }
}
@media (min-width: 1440px) {
  .what-is__text-area {
    padding-right: 160px;
    padding-left: 160px;
  }
}
@media (min-width: 1024px) {
  .what-is__text-area {
    grid-row: 1;
    grid-column: 2;
    padding: 0;
  }
}
.what-is__audio {
  position: relative;
  height: 40px;
  width: 118px;
  margin-bottom: 28px;
}
.what-is__audio-top {
  position: absolute;
  height: 40px;
  width: 118px;
}
@media (min-width: 1024px) {
  .what-is__audio-top {
    grid-row: 1;
    grid-column: 2;
    top: 0;
    right: 0;
  }
}
.what-is__title {
  display: flex;
  flex-direction: column;
  font-family: "Muli", sans-serif;
  color: #0a485a;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  line-height: 40px;
}
@media (min-width: 1024px) {
  .what-is__title {
    font-size: 50px;
    line-height: 63px;
  }
}
.what-is__title-special {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #8fc7d1;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .what-is__title-special {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .what-is__description {
    max-width: 60%;
  }
}
.what-is__text-area-sub-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  max-width: 742px;
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .what-is__text-area-sub-title {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__image-area {
  max-width: 1440px;
  margin: 0 auto 40px;
  padding: 0 20px 0 19px;
  grid-row: 1;
  position: relative;
}
@media (min-width: 768px) {
  .what-is__image-area {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .what-is__image-area {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media (min-width: 1280px) {
  .what-is__image-area {
    padding-right: 128px;
    padding-left: 128px;
  }
}
@media (min-width: 1440px) {
  .what-is__image-area {
    padding-right: 160px;
    padding-left: 160px;
  }
}
.what-is__image-area::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -40%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0a485a;
  border-radius: 0 30px 30px 0;
}
.what-is__symptoms-area {
  background-color: #f9f7fb;
  padding: 32px 8px;
  border-radius: 30px 0 0 30px;
}
.what-is__symptoms-area__list-title-1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-1 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-1::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffccf1;
}
.what-is__symptoms-area__list-title-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-2 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-2::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffeccc;
}
.what-is__symptoms-area__list-title-3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-3 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-3::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccfffd;
}
.what-is__symptoms-area__list-title-4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-4 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-4::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ceffcc;
}
.what-is__symptoms-area__list-title-5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-5 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-5::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffd5cc;
}
.what-is__symptoms-area__list-title-6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-6 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-6::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccd3ff;
}
.what-is__symptoms-area__list-title-7 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #545454;
  font-size: 14px;
  line-height: 20px;
  color: #0a485a;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-area__list-title-7 {
    font-size: 20px;
    line-height: 33px;
  }
}
.what-is__symptoms-area__list-title-7::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #cce6ff;
}
.what-is__symptoms-area-btn {
  padding: 8px 28px;
  background-color: #0a485a;
  color: #fff;
  border-radius: 23px;
}
.what-is__symptoms-title {
  font-family: "Muli", sans-serif;
  color: #0a485a;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 21px;
}
@media (min-width: 1024px) {
  .what-is__symptoms-title {
    font-size: 30px;
    line-height: 38px;
  }
}
.what-is__symptoms-area__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
}

.booking-form {
  background-color: #f0f7f8;
  max-width: 1440px;
  margin: 0 auto 40px;
  padding: 0 20px 0 19px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .booking-form {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .booking-form {
    padding-right: 44px;
    padding-left: 44px;
  }
}
@media (min-width: 1280px) {
  .booking-form {
    padding-right: 128px;
    padding-left: 128px;
  }
}
@media (min-width: 1440px) {
  .booking-form {
    padding-right: 160px;
    padding-left: 160px;
  }
}
.booking-form__container {
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1024px) {
  .booking-form__container {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
.booking-form label {
  display: flex;
  flex-direction: column;
}
.booking-form label input {
  border: 1px solid #8fc7d1;
  border-radius: 8px;
  padding: 8px;
}
.booking-form button {
  padding: 11px 28px;
  background-color: #0a485a;
  align-self: center;
  border-radius: 23px;
  color: #fff;
}/*# sourceMappingURL=globals.css.map */